<% include common/header.ejs %>

<div class="row" style="margin-right: 0px; margin-left: 0px; padding-top: 20px;">
        
        <div class="row order-page-panel">
        <div class="left-panel">
            <div class="contact-form-1">
                <div class="form-description-1">
                    1. Контактні дані
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <form class="form-horizontal">
                            <div class="form-group name-group">
                                <label class="col-sm-2 control-label">Ім’я</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputName" placeholder="Ім’я">
                                </div>
                            <span class="name-help-block" style="display:none">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                            </div>
                            <div class="form-group phone-group">
                                <label class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputPhone" placeholder="+380994010999">
                                </div>
                            <span class="phone-help-block" style="display: none;">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                            </div>
                            <div class="form-group address-group">
                                <label class="col-sm-2 control-label">Адреса</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                                </div>
                            <span class="address-help-block" style="display:none">
                                Введіть адресу доставки піци
                            </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 order-summary">
                        <div class=" bs-callout bs-callout-warning">
                            <h4>Інформація про замовлення</h4>
                            <p class="order-summery-time"><b>Приблизний час доставки</b>:</p>
                            <p class="order-summery-adress"><b>Адреса доставки</b>:</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group next-step-wrap">
                        <div class="next-step-width">
                            <button type="button" id="make-order" class="btn btn-warning btn-block next-step-button">
                                Далі
                                <i class="glyphicon glyphicon-chevron-right icon-white">
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="google-maps" id="googleMap">
    </div>
  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMZUsnvD6A-SQc6bJM8tx3KuDmgRd0qM4"
  ></script>
<script type="text/javascript">
//  AIzaSyAyEG98DvakEjRN2lvaTZkdBHTnTVD3D_g

function initialize()  {
    var mapProp = {
        center : new google.maps.LatLng(50.464379, 30.519131),
        zoom : 11
    };
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    
    
    var html_element = document.getElementById("googleMap");
    var map = new google.maps.Map(html_element, mapProp);
    
    directionsDisplay.setMap(map);
    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  directionsService.route({
    origin: homeMarker.point,
    destination: marker.position,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

    var point = new google.maps.LatLng(50.464379, 30.519131);
    var marker = new google.maps.Marker({
        position : point,
        map : map,
        icon : "assets/images/map-icon.png"
    });
    
    var homeMarker = new google.maps.Marker({
        position : point,
        //map : map,
        //icon : "assets/images/map-icon.png"
        icon : "assets/images/home-icon.png"
    });

    console.log("123");
    console.log(homeMarker);

    function geocodeLatLng(latlng, callback) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'location': latlng
        }, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK && results[1]) {
                var adress = results[1].
                formatted_address;
                callback(null, adress);
            } else {
                callback(new Error("Can't find adress "));
            }
        });
    }

    function geocodeAddress(address, callback) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': address
        }, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK && results[0]) {
                var coordinates = results[0].geometry.location;
                callback(null, coordinates);
            } else {
                callback(new Error("Can not find the adress "));
            }
        });
    }

    function    calculateRoute(A_latlng, B_latlng, callback)   {
        var directionService =  new google.maps.DirectionsService();
        directionService.route({
            origin: A_latlng,
            destination:    B_latlng,
            travelMode: google.maps.TravelMode["DRIVING"]
        },
        function(response,  status) {
            if  (status  ==  google.maps.DirectionsStatus.OK )   {
                var leg  =   response.routes[0].legs[0];
                console.log(leg.duration.text);
                callback(null,  {duration:leg.duration});
                directionsDisplay.setDirections(response);
            }
            else{
                callback(new    Error("Can not find direction"));
            }
        });
    }

    google.maps.event.addListener(map, 'click',function(me){
        geocodeLatLng(me.latLng, function(err, adress){
            if (err){
                $(".address-group").addClass("has-error");  
                $(".address-group").removeClass("has-success");
            } else {
                //var homePoint = new google.maps.LatLng(me.latLng.lat, me.latLng.lng);
                homeMarker.setMap(map);
                homeMarker.position = me.latLng;
                console.log(homeMarker);
                $('#inputAdress').val(adress);
                $('.order-summery-adress').html("<b>Адреса доставки</b>:"+adress);
                $(".address-group").removeClass("has-error");  
                $(".address-group").addClass("has-success");
            }
        });
        console.log(homeMarker);
        console.log(marker);
        calculateRoute(me.latLng,marker.position, function(err, time){
            $(".order-summery-time").html("<b>Приблизний час доставки</b>:"+time.duration.text);
                
        });
    });

//3 15-15

    $('#inputName').on('input', function() {
        var r = /^[А-Яа-я]+$/;
        if (r.test($('#inputName').val())) {
            $(".name-help-block").hide();  
            $(".name-group").removeClass("has-error");  
            $(".name-group").addClass("has-success");  
        } else {
            $(".name-help-block").show();
            $(".name-group").addClass("has-error");
            $(".name-group").removeClass("has-success");  
        }
    });

    $('#inputPhone').on('input', function() {
        //+380994010999
        var r = /^((\+380[0-9]{9})|(0[0-9]{9}))$/;
        if (r.test($('#inputPhone').val())) {
            $(".phone-help-block").hide();
            $(".phone-group").removeClass("has-error");  
            $(".phone-group").addClass("has-success");             
        } else {
            $(".phone-help-block").show();
            $(".phone-group").addClass("has-error");  
            $(".phone-group").removeClass("has-success"); 
        }
    });

    $('#inputAdress').on('input', function() {
        var a = $('#inputAdress').val();
        geocodeAddress(a, function(err, latLng){
            if (err){
                $(".address-help-block").hide();
                $(".address-group").addClass("has-error");  
                $(".address-group").removeClass("has-success");
            } else {
                geocodeLatLng(latLng, function(err, adress){
                    $('#addressFinale').html(adress);
                    $(".address-help-block").hide();
                    $(".address-group").removeClass("has-error");  
                    $(".address-group").addClass("has-success");
                });
            }
        });
    });
    $('#make-order').click(function(){

    });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>


<% include common/footer.ejs %>
