	<div id="cart" class="col-sm-3">
		<nav class="navbar navbar-default" id="cartHeader">
		 	<div class="navbar-left">
		        <p class="navbar-text">Замовлення <span id="count" class="badge">0</span></p>
		      </div>
		      <div class="navbar-right"><a href="#" class="navbar-text" id="clear"  style="padding-right: 10px;">Очистити замовлення</a></div>
		</nav>
		<div id="cartList">
			    
		</div>
        <div class="row buy">
            <div class="row">
                <div class="col-md-6">Сума замовлення</div>
                <div id="total-price" class="col-md-6" style="text-align: right;">8800 grn</div>
            </div>
            <div class="row" style="padding: 15px"><a class="make-order" href="order.html"><button type="button" class="btn btn-warning btn-lg btn-block">Замовити</button></a></div>
        </div>
	</div>
</div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>