<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body >
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="site-icon text-center my-logo-text">
        <div class="discount-before top-discount">
        </div>
        <a class="pizza-logo" href="/index.html">
            <div id="pizza-title2" class="title-1">
                Pizza
            </div>
            <div class="title-2">
                KMA
            </div>
        </a>
    </div>
<div class="header-container nav navbar-nav">
<div class="header-top-row">
<div class="navbar-text main-navbar visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
(044) 222 5 222
</div>
<div class="navbar-text main-navbar visible-lg-inline-block visible-md-inline-block">
24 години/ 7 днів на тиждень
</div>
<div class="navbar-text main-navbar visible-lg-inline-block">
Безкоштовна доставка піци
</div>
<div type="button" class="main-header-top-item btn btn-warning sign-in-button">
                Ввійти
</div>
</div>
<hr class="header-top-bottom-separator">
<div class="header-down-row">
<div class="header-default-padding">
<a href="#" class="navbar-link" style="color:white;">Піца</a>
</div>
</div>
</div>
</nav>

<div class="row" style="margin-right: 0px; margin-left: 0px; padding-top: 20px;">